%body#page-top
  / Page Wrapper
  #wrapper
    / Sidebar
    %ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion
      / Sidebar - Brand
      %a.sidebar-brand.d-flex.align-items-center.justify-content-center{:href => root_path}
        .sidebar-brand-icon.rotate-n-15
          %i.fas.fa-laugh-wink
        .sidebar-brand-text.mx-3
          Application ChoDav
      / Divider
      %hr.sidebar-divider.my-0/
      / Nav Item - Dashboard
      %li.nav-item.active
        %a.nav-link{:href => root_path}
          %i.fas.fa-fw.fa-tachometer-alt
          %span Home
      / Divider
      %hr.sidebar-divider/
      / Heading
      .sidebar-heading
        Devices
      / Nav Item - Pages Collapse Menu
      %li.nav-item
        %a.nav-link.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "true", "data-target" => "#collapseTwo", "data-toggle" => "collapse", :href => "#"}
          %i.fas.fa-fw.fa-cog
          %span Devices
        #collapseTwo.collapse{"aria-labelledby" => "headingTwo", "data-parent" => "#accordionSidebar"}
          .bg-white.py-2.collapse-inner.rounded
            %h6.collapse-header Devices:
            %a.collapse-item{:href => admin_devices_path} Admin Devices
      %li.nav-item
        %a.nav-link.collapsed{"aria-controls" => "collapseUtilities", "aria-expanded" => "true", "data-target" => "#collapseUtilities", "data-toggle" => "collapse", :href => "#"}
          %i.fas.fa-fw.fa-address-book
          %span Contacts
        #collapseUtilities.collapse{"aria-labelledby" => "headingUtilities", "data-parent" => "#accordionSidebar"}
          .bg-white.py-2.collapse-inner.rounded
            %h6.collapse-header Contact Utilities
            %a.collapse-item{:href => contacts_path} Contact List